.site-footer{

 background-color: #faebd7;
 color: #000;
 margin-top: 30px;
 padding-top: 30px;
}

.bottom-footer{


	border-top: 1px solid #b2b2b2;
	margin-top: 10px;
	padding-top: 10px;
	color: #b2b2b2;

}


.footer-nav{

	text-align: right;
	list-style: none;
}
.footer-nav li {

	display: inline;
	padding: 0px 10px;

}
.footer-nav li:not(:first-child):before{

 content: '|';
 padding: 0px 10px;
}
.footer-nav a{

	color: #b2b2b2;
}
.footer-nav a:hover{

	color: #fff;
}
.color{

	color: #fff;
}
.back{
	background-color: pink;
}
body{
	background-color: #faebd7;
}